a {
	color: rgb(2, 0, 5);
	text-decoration: none;
	font-weight: bold;
	font-size: 2.9vmin;
}

a:hover {
	color: rgb(53, 12, 235);
}

img {
  width: 100%;
}

header {
	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid rgb(0, 5, 10);
	z-index: 100;
}

#logo{
  margin: 20px;
	float: left;
	width: 60px;
	height: 40px;
	background: url(logo.svg) no-repeat center;
  display: block;
}

nav {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: rgb(255, 255, 255) url(hamburger.svg) center;
}

a:hover#menu-icon {
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: #2262AD;
}

@media only screen and (max-width : 650px) {
	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid rgb(7, 0, 0);
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
  }
	}
	
	#grid {
		margin-top: 20vh;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"card1 card2 card3";
		margin: auto;
		margin-top: 20vh;
		grid-gap: 1em;


	}
	
	#card1 {
		grid-area: card1;
		background-color: red;
	}	

	#card2 {
		grid-area: card2;
		background-color: blue;
	}

	#card3 {
		grid-area: card3;
		background-color: yellow;
	}