body {
	background-color:black;
}
a {
	color: rgb(2, 0, 5);
	text-decoration: none;
	font-weight: bold;
	font-size: 2.9vmin;
}

a:hover {
	color: rgb(53, 12, 235);
}

img {
  width: 100%;
}

header {
	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid rgb(0, 5, 10);
	z-index: 100;
}

#logo{
  margin: 20px;
	float: left;
	width: 60px;
	height: 40px;
	background: url(logo.svg) no-repeat center;
  display: block;
}

nav {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: rgb(255, 255, 255) url(hamburger.svg) center;
}

a:hover#menu-icon {
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: #2262AD;
}

footer {
	height: 30vh;
	background-color: black;
	color: white;
	text-align: center;
	padding: 3em;
}

@media only screen and (max-width : 650px) {
	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid rgb(7, 0, 0);
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
  }
}

div {
	background-color:black;
}
#hero {
  background-image: url("codingpng.png");
  min-height: 100vmin;
  max-height: 100vmax;
  min-width: 100vmin;
  max-width: 100vmax;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	background-attachment: fixed;
	margin-bottom: 10em;
}

@media (max-width: 575px) {
	#hero {
		background-image: url("https://images.unsplash.com/photo-1532529867795-3c83442c1e5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
		background-size: contain; background-position: top;}
		
}
/* Gallery */
body {
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	height: 100%;
	margin: 3em;
	}


	
	section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 100vmax;
		padding-top: 50em;
		margin-top: 15em;
		background-color:black;
	}
	
	
	body > section > img {
		display: flex;
		flex-grow: 1; /* pictures spaced evenly, take up any remaining space */
		/* flex: auto; */
		border: 5px solid black;
		border-radius: 1%;
		margin: 1em;
		/* box-shadow: 5px 5px 0px rgb(0, 0, 0); */
	
	}
	
	#image img {
		width: 25vmin;
		width: 25vmax;
		height: auto;
		background-color: black;
		opacity: .95;
		flex: 1 1 20em;
		border-radius: 5%;
	}
	
	
	#image img:hover {
	transform: scale(1.1);
	transform: rotate(1); /* brings image forward, can rotate with -5deg */
	/* transition: all .25s ease-in-out; */
	/* background-color:black;
	z-index: 10; */
	/* opacity: 1; */
	transition:
					background-color 1s,
					box-shadow 1s,
					transform .5s; /* changes speed it flips */
	/* box-shadow: 5px 5px 0px white; */
	/* border: 1px solid white; */
	opacity: 1;
	}
	